:root {
	--bg-color: #191919;
	--gray: rgb(35, 35, 36);
	--primary-text: #fff;
	--secondary-text: #c2c2c2;

	/* Accent colors */
	--red: #c80000;
	--orange: #d05019;
	--purple: #7018b0;
	--blue: #1c65d3;
	--green: #1faa52;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gabarito Variable', system-ui;
}
body {
	/* display: flex;
	justify-content: center; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg-color);
	/* background-image: url('../static/blob-scene-haikei.svg');
	background-size: 100% auto;
	background-position: bottom center;
	background-repeat: no-repeat; */
	height: 100vh;
}
[data-accent="green"] {
	--accent: var(--green);
}
[data-accent="blue"] {
	--accent: var(--blue);
}
[data-accent="red"] {
	--accent: var(--red);
}
[data-accent="purple"] {
	--accent: var(--purple);
}
[data-accent="orange"] {
	--accent: var(--orange);
}

