:root {
	--bg-color: #292929;
	--gray: #24242a;
	--primary-text: #fff;
	--secondary-text: #c2c2c2;
	--purple: #661288;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gabarito Variable', system-ui;
}
body {
	/* display: flex;
	justify-content: center; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg-color);
}
